body {
  display: flex;
  text-align: center;
  justify-content: center;
  /* background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.mos.cms.futurecdn.net%2FWLRC3RrdWxXdzZExS63NN8.jpg"); */
}

#ball, #ball-void {
  width: 25rem;
}

#result {
  color: #fff;
  position: absolute;
  top: 240px;
  left: 45vw;
  rotate: -20deg;
  width: 115px;
}

.hidden {
  display: none;
}
